name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        include:
          - build: windows
            target: x86_64-pc-windows-gnu
            archive: zip
            platform: windows-latest
            archive-name: property-spider-${{ github.ref_name }}-windows.7z
          - build: linux
            target: x86_64-unknown-linux-gnu
            archive: tar.gz
            platform: ubuntu-latest
            archive-name: property-spider-${{ github.ref_name }}-linux.tar.gz
          - build: macos
            target: x86_64-apple-darwin
            archive: zip
            platform: macos-latest
            archive-name: property-spider-${{ github.ref_name }}-macos.tar.gz

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@master

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          target: ${{ matrix.target }}

      - name: Install dependencies
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y musl-tools pkg-config

      - run: cargo build --release --target ${{ matrix.target }}

      - name: Strip binary (linux and macos)
        if: matrix.build == 'linux' || matrix.build == 'macos'
        run: strip "target/${{ matrix.target }}/release/property-spider"

      - name: Build archive
        shell: bash
        run: |
          mkdir archive
          cd archive
          if [ "${{ matrix.build }}" = "windows" ]; then
            cp "../target/${{ matrix.target }}/release/property-spider.exe" ./
            7z a "${{ matrix.archive-name }}" property-spider.exe
          else
            cp "../target/${{ matrix.target }}/release/property-spider" ./
            tar -czf "${{ matrix.archive-name }}" property-spider
          fi

      - name: Create release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            archive/${{ matrix.archive-name }}
